// Main Site Layout

body {
  overflow-x: hidden;
  transition: color 0.15s, background-color 0.15s;

  @include mq-down(lg) {
    &.no-scroll {
      height: 100vh;
      overflow: hidden;
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
  transition: transform 0.3s $animation-curve-default;

  .header,
  .footer {
    flex: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    &::after {
      content: '';
      display: block;
      height: 0px;
      visibility: hidden;
    }
  }
}

.table-of-contents {
  background: var(--color-border);
  padding: 20px;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;

  &--narrow {
    max-width: $container-narrow-max-width;
  }
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: '';
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  text-decoration: none;
  font-weight: bold;

  img {
    height: 44px;
  }

  &__mark {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
  }

  &__text {
    font-size: 1.125rem;
    color: #ff5733;
  }

  &__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #ff5733;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
