<header class="header" role="banner">
    <div class="header__inner container">

        <a href="/" class="[ logo ] [ site-head__site-name ] [ leading-tight ]" style="text-decoration: none;">
      <span class="[ logo__mark ]">
        <svg xmlns="http://www.w3.org/2000/svg" class="greater-icon" width="44" height="44" viewBox="0 0 44 44">
          <polyline fill="none" stroke="#35C8B8" stroke-width="6" points="15 8 29.729 22.382 15 35.367"></polyline>
        </svg>
      </span>
      <span class="[ logo__text ]">{{ site.domain }}</span>
      <span class="[ logo__cursor ]"></span>
    </a>

        <div class="header__nav">
            {% include "navigation.njk" %}

            <button
                class="iconbtn header__themebtn js-themepicker-toggle"
                aria-expanded="false"
                aria-controls="theme-menu"
                aria-label="toggle theme panel"
            >
                {% icon "theme" %}
            </button>
        </div>

    </div>
</header>