---
layout: default
---

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        <h1 class="text-3xl text-center font-bold leading-normal text-gray-900 dark:text-gray-100 mt-0 mb-3">{{ title }}</h1>
        <div class="text-center">Published on {{ page.date | readableDate }}</div>
        {% if tags %}
        <div class="mt-3 text-center">
            {% for tag in tags %}
            <a href="{{ '/tags/' | url }}{{ tag }}" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-medium text-gray-700 m-0.5">#{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if thumb %}
        <div class="mt-10 -mx-7 md:mx-0">
            <img class="w-full max-w-2xl mx-auto" src="{{ thumb | url }}" width="960" height="500" alt="This post thumbnail">
        </div>
        {% endif %}
    </header>
    <div id="content" class="prose text-gray-800 dark:text-gray-400 max-w-none mb-10">
        {{ content | safe }}
    </div>

    {# ===== Previous and Next =====  #}
  <div class="border-t mt-4 pt-4 border-gray-300 md:flex-row md:flex md:justify-between">
    {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.posts | getNextCollectionItem(page) %}

    <div class="py-2 text-center sm:py-0">
      {% if previousPost %}
        <a class="text-gray-700 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a>
      {% endif %}
    </div>

    <div class="py-2 text-center sm:py-0">
      {% if nextPost %}
        <a class="text-gray-700 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a>
      {% endif %}
    </div>

  </div>

    <div class="mt-10">
    <script src="https://utteranc.es/client.js"
            repo="sadanand-singh/reckoning.dev.comments"
            issue-term="pathname"
            label="comment"
            theme="github-light"
            crossorigin="anonymous"
            async >
    </script>
    <noscript>Please enable JavaScript to view the comments powered by Utterances.</a></noscript>
    </div>
    <h2 class="text-3xl text-left font-bold leading-normal text-gray-900 dark:text-gray-100 mt-20 mb-3">Similar Posts:</h2>
    <div class="border-t mt-1 pt-4 border-gray-400">
      <div class="flex flex-wrap -mx-2">
        {% include "partials/related.njk" %}
      </div>
    </div>
</article>