@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, helvetica, Arial,
            sans-serif;
    }

    /* Overrides for Tailwind Typography prose class */
    .prose img {
        @apply w-full max-w-2xl mx-auto;
    }
    .prose a {
        @apply dark:text-gray-500;
    }
    .prose a:hover {
        @apply dark:text-gray-600;
    }
    .prose h1,
    .prose h2,
    .prose h3,
    .prose h4,
    .prose h5,
    .prose h6 .prose hr,
    .prose table,
    .prose thead,
    .prose th .prose tr,
    .prose strong {
        @apply dark:text-gray-500;
    }
    .prose h2,
    .prose h3,
    .prose h4,
    .prose h5,
    .prose h6 {
        scroll-margin-top: 3.5em;
    }

    .prose p code {
        @apply text-pink-400 dark:text-pink-400;
    }

    .prose td code {
        @apply text-pink-400 dark:text-pink-400;
    }

    .prose p code::before {
        content: '';
    }

    .prose p code::after {
        content: '';
    }

    .prose td code::before {
        content: '';
    }

    .prose td code::after {
        content: '';
    }

    .note a {
        @apply text-pink-500;
    }
    .note a:hover {
        @apply text-pink-600;
    }

    .links {
        padding: 0.5rem;
        font-size: 1.5rem;
        @apply dark:text-gray-500 mt-4;
    }

    /* Define some standard callout blocks */
    .callout {
        @apply px-8 py-4 mb-4 rounded-lg bg-yellow-200;
    }
    .callout,
    .callout strong,
    .callout em {
        @apply dark:bg-yellow-400 dark:text-gray-900;
    }
    .callout-blue {
        @apply px-8 py-4 mb-4 rounded-lg bg-blue-200;
    }
    .callout-blue,
    .callout-blue strong,
    .callout-blue em {
        @apply dark:text-gray-200 dark:bg-blue-500;
    }
    .callout-pink {
        @apply px-8 py-4 mb-4 rounded-lg bg-pink-200;
    }
    .callout-pink,
    .callout-pink strong,
    .callout-pink em {
        @apply dark:text-gray-200 dark:bg-pink-500;
    }
    .callout-green {
        @apply px-8 py-4 mb-4 rounded-lg bg-green-200;
    }
    .callout-green,
    .callout-green strong,
    .callout-green em {
        @apply dark:text-gray-200 dark:bg-green-700;
    }
    .warning {
        @apply px-8 py-4 mb-4 rounded-lg bg-red-400 text-gray-50;
    }
    .warning,
    .warning strong,
    .warning em {
        @apply text-gray-50 dark:bg-red-700  dark:text-gray-200;
    }
}

@layer utilities {
    .header-shadow {
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 5px -1px rgba(0, 0, 0, 0.06);
    }

    .visually-hidden {
        @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(1px);
    }
}
