// ==============================
// Custom style
// ==============================

.content {
    margin-top: 2em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.single .content figure {
    margin-top: 2em;
}

.single .content figcaption h4,
.single .content figcaption p {
    font-size: 0.75em;
    color: $global-font-secondary-color;
    margin-top: 1em;
    margin-bottom: 2em;
}

.single .content p {
    margin-top: 1rem;
}
