---
layout: base
tags: nav
title: Writing
navtitle: Writing
navorder: 2
permalink: blog/index.html
---
<div class="page page--blog">
    <header class="page__header">

    <h1 class="page__title">{{ title }}</h1>
    <br/>
        <strong>TAGS: </strong>
    {% for tagC in collections.tagList %}
        <a class="post__tags2 p-category" style="color:{{ tagC.cls }}" href='/tags/{{ tagC.tag }}'><strong>#{{ tagC.tag }}</strong></a>
    {% endfor %}
    </header>
    <div class="page__content">
        {%- set postlist = collections.posts -%}
        {% include "postlist.njk" %}
    </div>
</div>
