---
layout: default
pagination:
    data: collections.posts
    size: 100000
    alias: allPosts
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}blog/"
---


{% include "partials/post-list.njk" %}
