{% for post in paged.notes %}
<div class="w-full self-stretch p-2 mb-2">
    <div class="rounded border-gray-500 border-2 rounded-2xl shadow-2xl h-full">
        <div class="px-6 py-5">
            <div class="font-semibold text-lg mb-4">
                <h3 class="text-gray-900 dark:text-gray-500 hover:text-gray-700 dark:hover:text-gray-300">{{ post.data.title }}</h3>
            </div>
            <p class="text-gray-700 dark:text-gray-500 mb-3" title="Published date">{{ post.data.page.date | readableDate }}</p>
            <p class="text-gray-800 dark:text-gray-600">
                {% if post.data.description %}
                {{ post.data.description }}
                {% else %}
                {{ post.templateContent | safe }}
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endfor %}
